.App {
  text-align: center;
}
.Container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;

}




button {
  font-size: calc(10px + 2vmin);
}
